.div{ 'ng-controller' => 'projectsListController',
      'projects-url' => projects_path }

  .container{ 'ng-show' => 'show_loader' }
    .col-md-8.col-md-offset-2.panel-loader
      = image_tag 'loader.gif'

  %script{ type: 'text/ng-template', id: 'destroy_confirm' }
    .modal-body= t 'destroy_confirm'
    .modal-footer
      %button.btn.btn-primary#yes{ 'ng-click' => 'yes()' }= t 'yes'
      %button.btn.btn-warning#no{ 'ng-click' => 'no()' }= t 'no'

  .container{ 'ng-repeat' => 'project in projects' }
    .col-md-8.col-md-offset-2
      .panel-project
        .panel-heading
          = image_tag 'project-icon.png', class: 'panel-heading-icon'
          %lable{ 'ng-show' => '!project.enable_edit' }= '{{ project.title }}'
          %from.project-edit-from{ 'ng-show' => 'project.enable_edit' }
            .form-group{ 'ng-class' => "{'has-error': project.error }" }
              %input.form-control.title{ type: 'text', 'ng-model' => 'project.title' }
              %button.btn.btn-primary.btn-save{ 'ng-click' => 'save(project.id)' }= t 'save'
          %span.pull-right
            %button.project-delete{ 'ng-click' => 'destroy(project.id)' }
            %span.project-icon-separator
              |
            %button.project-edit{ 'ng-show' => '!project.enable_edit', 'ng-click' => 'edit(project.id)' }
        .panel-add-task
          = image_tag 'project-task-add-icon.png', class: 'project-task-add'
          = form_for :task,
                      url: tasks_path,
                      html: { name: 'add_task',
                              novalidate: true,
                              'ng-controller' => 'addTaskController',
                              'ng-submit' => 'submit(task, project)',
                              'onsubmit' => 'return false',
                      } do |f|
            .input-group.project-task-add-input-group{ 'ng-class' => "{'has-error': task.error }" }
              = f.text_field :title,
                              class: 'form-control',
                              type: 'text',
                              placeholder: t('add_task_input_placeholder'),
                              'ng-model' => 'task.title'
              %input{ type: 'hidden', 'ng-model' => 'project.id' }
              %span.input-group-btn
                %button.btn.btn-success{ type: 'submit', 'ng-disabled' => 'disabled_submit' }= t 'add_task_button'
        = render 'lists/tasks_list'