.panel-welcome-section.panel-sign-up
  .title
    = t 'sign_up_title'
  .form{ id: 'signUpForm' }
    = form_for user_resource,
                    url: registration_path(user_resource_name),
                    html: { name: 'sign_up_user',
                            novalidate: true,
                            'ng-controller' => 'signUpController',
                            'ng-submit' => 'submit(user)',
                            'onsubmit' => 'return false',
                    } do |f|
      .form-group{ 'ng-class' => "{'has-error': sign_up_user['user[email]'].$invalid }" }
        = f.label :email
        = f.text_field :email,
                        class: 'form-control',
                        placeholder: :email,
                        'ng-model' => 'user.email',
                        'valid-email' => true
        .help-inline
          .help-block.with-errors{ 'ng-show' => "sign_up_user['user[email]'].$invalid" }
            %ul.list-unstyled
              %li{ 'ng-show' => "sign_up_user['user[email]'].$error.not_empty" }
                = t 'sign_up_form.error.attribute.email.not_empty'
              %li{ 'ng-show' => "sign_up_user['user[email]'].$error.email_address" }
                = t 'sign_up_form.error.attribute.email.email_address'
      .form-group{ 'ng-class' => "{'has-error': sign_up_user['user[password]'].$invalid }" }
        = f.label :password
        = f.password_field :password,
                            class: 'form-control',
                            placeholder: :password,
                            min: password_length.first,
                            max: password_length.last,
                            'ng-model' => 'user.password',
                            'valid-password' => true
        .help-inline
          .help-block.with-errors{ 'ng-show' => "sign_up_user['user[password]'].$invalid" }
            %ul.list-unstyled
              %li{ 'ng-show' => "sign_up_user['user[password]'].$error.not_empty" }
                = t 'sign_up_form.error.attribute.password.not_empty'
              %li{ 'ng-show' => "sign_up_user['user[password]'].$error.string_length" }
                = t 'sign_up_form.error.attribute.password.string_length'
      .form-group{ 'ng-class' => "{'has-error': sign_up_user['user[password_confirmation]'].$invalid }" }
        = f.label :password_confirmation
        = f.password_field :password_confirmation,
                            class: 'form-control',
                            placeholder: :password_confirmation,
                            min: password_length.first,
                            max: password_length.last,
                            'ng-model' => 'user.password_confirmation',
                            'valid-password-confirmation' => true
        .help-inline
          .help-block.with-errors{ 'ng-show' => "sign_up_user['user[password_confirmation]'].$invalid" }
            %ul.list-unstyled
              %li{ 'ng-show' => "sign_up_user['user[password_confirmation]'].$error.not_empty" }
                = t 'sign_up_form.error.attribute.password_confirmation.not_empty'
              %li{ 'ng-show' => "sign_up_user['user[password_confirmation]'].$error.string_length" }
                = t 'sign_up_form.error.attribute.password_confirmation.string_length'
              %li{ 'ng-show' => "sign_up_user['user[password_confirmation]'].$error.not_match" }
                = t 'sign_up_form.error.attribute.password_confirmation.not_match'
      = f.submit t('sign_up_button'), class: 'btn btn-primary', 'ng-disabled' => '!formValid() || disabled_submit'
      .help-inline.has-error
        .help-block.with-errors{ 'ng-show' => 'server_errors' }
          %ul.list-unstyled{ 'ng-repeat' => 'server_error in server_errors' }
            %li= '{{ server_error }}'